/*TraMel Marshall 3/24/2019*/
body {background-color:#90C7E3;
		color:#666666;
		font-family: Arial, Helvetica, sans-serif;
		background-color: #B8DBED;
	}
	
#wrapper {width: 80%;
	margin: auto;
	background-color: #90C7E3;	
	min-width: 960px;
	max-width:2048px;
	box-shadow:3px 3px 3px #333333;
	border: 1px #000033;
	background-image: linear-gradient(#FFFFFF,#90C7E3);
    
	}
	
#homehero{height:300px;
	background-image:url(images/coast2.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left: 190px;
	}
	
#yurthero{height:300px;
	background-image:url(images/yurthero.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left: 190px;
	}
	
#trailhero{height:300px;
			background-image:url(images/trailhero.jpg);
			background-repeat:no-repeat;
			background-size:100% 100%;
			margin-left: 190px;
			}
	
header {background-color:#000033;
			color:#FFFFFF;
			height:120px;
			padding-top:30px;
			padding-left:3em;
			text-align:center;
			}
nav{ font-weight: bold;
		padding:1.5em;
		font-size:120%;
		float: left;
		width:160px;
		}
		
		
.navigation ul	{list-style-type: none;
				margin:0px;
				padding-left:0px;
				font-size: 1.2em;	
				
}

nav a { text-decoration: none;
	}

nav a:link { color: #5C7FA3;

	}
		
	nav a:visited { color: #344873;
	}
	
	nav a:hover { color: #A52A2A;
	}
		
h1 {margin-bottom:0;
	margin-top:0px;
	font-family: Georgia, 'Times New Roman', serif;
	font-size:3em;
	letter-spacing:0.25em;
	
	}

h2 {color:#3399CC;
	text-shadow: 1px 1px 1px #CCCCCC;
	font-family: Georgia, 'Times New Roman', serif;
		}
		
h3 {font-family: Georgia, 'Times New Roman', serif;
}
main {padding-top:1px;
		padding-right:20px;
		padding-bottom:20px;
		padding-left:30px;
		display:block;
		background:#FFFFFF;
		margin-left:190px;	
	
	}	
dt{color:#000033;
		}
main ul {list-style-image: url(marker.gif);
	}
footer {font-size: 75%;
		padding:20px;
		font-style: italic;
		font-family: Georgia, 'Times New Roman', serif;
		text-align: center;
		margin-left:190px;
		background:#FFFFFF;
		}	
.resort {color:#5C7FA3;
		font-weight: bold;
		}	
#contact {font-size: 90%;
}

* { box-sizing: border-box;
}